.centers {
    &__content{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        padding: 120px 1px 90px;
        margin: 0 auto;
        max-width: 1920px;
    }
    &__info{
        margin-bottom: 60px;
    }
    &__title{
        font-family: 'Montserrat';
        font-weight: 700;
        font-size: px-to-em(60);
        line-height: 100%;;
        color: $main-color;
        margin-bottom: 60px;
    }
    &__first{
        font-family: 'Montserrat';
        font-weight: 500;
        font-size: px-to-em(20);
        line-height: 140%;
        color: $main-color;
        margin-bottom: 32px;
        max-width: 745px;
    }
    &__today{
        font-family: 'Montserrat';
        font-weight: 500;
        font-size: px-to-em(20);
        line-height: 140%;
        color: $main-color;
        margin-bottom: 40px;
        max-width: 745px;
    }
    &__addresses{
        font-family: 'Montserrat';
        font-weight: 700;
        font-size: px-to-em(18);
        line-height: 120%;
        color: $main-color;
        background: $bg-color;
        text-decoration: none;
        border: 2px solid $main-color;
        border-radius: 100px;
        padding: 19px 40px;
    }
    &__image{
        width: 744px;
        margin: 0 15px 30px 15px;
        &:first-of-type{
            width: 745px;
            margin-right: 30px;
            margin-left: 0;
            order: -1;
        }
        
    }
}
