mixin centers(modifier)
  .centers&attributes(attributes)
    .centers__content 
      .centers__info 
        h2.centers__title Сервисные центры
        p.centers__first Первый сервисный центр Белый Сервис распахнул свои двери 28 марта 2012 года по адресу г. Челябинск, ул. Энгельса 75. 
        p.centers__today На текущий момент «Белый Сервис» имеет три филиала со своими приемщиками и мастерами. Гибко распределяем рабочую нагрузку: если персонал на одной из точек перегружен заказами, то часть работ передается их менее загруженным коллегам из другого филиала.
        a(href='#').centers__addresses Показать адреса
      img(src='img/centers/center1.jpg' alt='Центр').centers__image
      img(src='img/centers/center2.jpg' alt='Центр').centers__image
      img(src='img/centers/center3.jpg' alt='Центр').centers__image