mixin staff(modifier)
  .staff&attributes(attributes)
    .staff__content 
      h2.staff__title Ремонт осуществляется первоклассными&nbsp;специалистами
      p.staff__text Средний опыт работы наших мастеров 4 года
      .staff__slider 
        img(src='img/svg/arrowsl.svg' alt='Стрелка').staff__arrow.staff__arrow--prev
        .staff__area
          .staff__slide 
            img(src='img/staff/ilya.jpg' alt='Сотрудник').staff__slide_image
            h3.staff__slide_name Илья
            p.staff__slide_txt Мастер по ремонту, опыт 5 лет. В «Белом Сервисе» с июля 2020
            p.staff__slide_done Более 4 800 выполненных работ
            p.staff__slide_comment Определю любую причину поломки!
          .staff__slide 
            img(src='img/staff/alexandr.jpg' alt='Сотрудник').staff__slide_image
            h3.staff__slide_name Александр
            p.staff__slide_txt Мастер по ремонту, опыт 4,5 года. В «Белом Сервисе» с августа 2020
            p.staff__slide_done Более 5 200 выполненных работ
            p.staff__slide_comment Верну к жизни, как самые первые модели, так и новинки  смартфонов.
          .staff__slide 
            img(src='img/staff/andry.jpg' alt='Сотрудник').staff__slide_image
            h3.staff__slide_name Андрей
            p.staff__slide_txt Мастер по ремонту и переклейке дисплеев, опыт 5 лет. В «Белом Сервисе» с сентября 2020
            p.staff__slide_done Более 4 800 выполненных работ
            p.staff__slide_comment Ремонт Apple – мой конек!
          .staff__slide 
            img(src='img/staff/dmitry.jpg' alt='Сотрудник').staff__slide_image
            h3.staff__slide_name Дмитрий
            p.staff__slide_txt Мастер по ремонту, опыт 9 лет. В&nbsp;«Белом Сервисе» с марта 2020
            p.staff__slide_done Более 4 800 выполненных работ
            p.staff__slide_comment Мы даем гарантию и&nbsp;исполняем ее. На технику – это всегда год.
          .staff__slide 
            img(src='img/staff/ilya.jpg' alt='Сотрудник').staff__slide_image
            h3.staff__slide_name Илья
            p.staff__slide_txt Мастер по ремонту, опыт 5 лет. В «Белом Сервисе» с июля 2020
            p.staff__slide_done Более 4 800 выполненных работ
            p.staff__slide_comment Определю любую причину поломки!
          .staff__slide 
            img(src='img/staff/alexandr.jpg' alt='Сотрудник').staff__slide_image
            h3.staff__slide_name Александр
            p.staff__slide_txt Мастер по ремонту, опыт 4,5 года. В «Белом Сервисе» с августа 2020
            p.staff__slide_done Более 5 200 выполненных работ
            p.staff__slide_comment Верну к жизни, как самые первые модели, так и новинки  смартфонов.
          .staff__slide 
            img(src='img/staff/andry.jpg' alt='Сотрудник').staff__slide_image
            h3.staff__slide_name Андрей
            p.staff__slide_txt Мастер по ремонту и переклейке дисплеев, опыт 5 лет. В «Белом Сервисе» с сентября 2020
            p.staff__slide_done Более 4 800 выполненных работ
            p.staff__slide_comment Ремонт Apple – мой конек!
          .staff__slide 
            img(src='img/staff/dmitry.jpg' alt='Сотрудник').staff__slide_image
            h3.staff__slide_name Дмитрий
            p.staff__slide_txt Мастер по ремонту, опыт 9 лет. В&nbsp;«Белом Сервисе» с марта 2020
            p.staff__slide_done Более 4 800 выполненных работ
            p.staff__slide_comment Мы даем гарантию и&nbsp;исполняем ее. На технику – это всегда год.
        img(src='img/svg/arrowsl.svg' alt='Стрелка').staff__arrow.staff__arrow--next