.service {
    &__content{
        background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #FFFFFF;
        padding: 0;
        margin: 0 auto;
        max-width: 1920px;
        position: relative;
    }
    &__block{
        display: flex;
        justify-content: space-between;
    }
    &__info{
        padding: 80px 94px 120px 140px;
        &_title{
            font-family: 'Montserrat';
            font-weight: 800;
            font-size: px-to-em(80);
            line-height: 100%;
            color: $main-color;
            margin-bottom: 60px;
        }
        &_text{
            font-family: 'Montserrat';
            font-weight: 500;
            font-size: px-to-em(26);
            line-height: 120%;
            color: $main-color;
            margin-bottom: 60px;
            max-width: 673px;
        }
        &_link{
            position: relative;
            display: flex;
            align-items: center;
            text-decoration: none;
            padding: 33px 60px 24px;
            border-radius: 100px;
            background: linear-gradient(270deg, #FFCC00 0%, #FFA300 100%);
            box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
            max-width: 434px;
            margin-bottom: 40px;
            z-index: 0;
            &::before{
                content: "";
                width: 10px;
                height: 10px;
                border-right: 2px solid $bg-color;
                border-bottom: 2px solid $bg-color;
                transform: rotate(-45deg);
            }
        }
        &_txt{
            font-family: 'Montserrat';
            font-weight: 700;
            font-size: px-to-em(18);
            line-height: 120%;
            color: $bg-color;
            margin-left: 15px;
            white-space: nowrap;
            z-index: 1;
            &::after{
                content: '';
                position: absolute;
                top: -7px;
                left: 21%;
                width: 20px;
                height: 20px;
                transform: rotate(45deg);
                background: linear-gradient(270deg, #FFCC00 0%, #FFA300 100%);
                z-index: 0;
            }
        }
    }
    &__advantages{
        display: flex;
        flex-wrap: wrap;
        min-width: 816px;
        &_card{
            display: flex;
            align-items: center;
            margin: 0 30px 40px 0;
            min-width: 392px;
            &:nth-child(2n){
                margin-right: 0;
            }
            &_icon{
                background: #FFFFFF;
                box-shadow: 0px 10px 30px -6px rgba(35, 25, 4, 0.15);
                border-radius: 10px;
                width: 70px;
                height: 70px;
                margin-right: 20px;
                @include flex-dir
            }
            &_text{
                font-family: 'Montserrat';
                font-weight: 500;
                font-size: px-to-em(20);
                line-height: px-to-per(24,20);
                max-width: 302px;
            }
        }
        
    }
    &__image{
        object-fit: contain;
    }
    &__done{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 40px;
        background: #FFFFFF;
        box-shadow: 0px 10px 30px -6px rgba(35, 25, 4, 0.15);
        border-radius: 100px;
        max-width: 464px;
        top: 599px;
        right: 141px;
    }
    &__numbers{
        font-family: 'Proxima Nova';
        font-weight: 700;
        font-size: px-to-em(50);
        line-height: px-to-per(61,50);
        margin-right: 10px;
        background: linear-gradient(270deg, #FFCC00 0%, #FFA300 100%), linear-gradient(0deg, #FFA300, #FFA300), linear-gradient(0deg, #4BB1BC, #4BB1BC), linear-gradient(0deg, #1767F9, #1767F9), #4633B9;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        white-space: nowrap;
    }
    &__finished{
        font-family: 'Montserrat';
        font-weight: 500;
        font-size: px-to-em(20);
        line-height: 120%;
        margin-left: 10px;
    }
    
}
