mixin service(modifier)
  .service&attributes(attributes)
    .service__content     
      .service__block 
        .service__info
          h1.service__info_title Сервисный центр
          p.service__info_text Ремонт планшетов в Челябинске. Бесплатно продиагностируем и быстро починим любую поломку. Гарантия 3 месяца
          a(href='#').service__info_link
            img(src='img/svg/lnkarrow.svg').service__info_arrow
            p.service__info_txt Записаться на диагностику
          .service__advantages
            .service__advantages_card
              .service__advantages_card_icon 
                img(src='img/service/repair.png' alt='Иконка').service__icn
              .service__advantages_card_text Починим даже то, от чего отказались другие
            .service__advantages_card
              .service__advantages_card_icon 
                img(src='img/service/garanty.png' alt='Иконка').service__icn
              .service__advantages_card_text Гарантия нашего сервиса&nbsp;3&nbsp;месяца
            .service__advantages_card
              .service__advantages_card_icon 
                img(src='img/service/bonus.png' alt='Иконка').service__icn
              .service__advantages_card_text Собственная выгодная бонусная система
            .service__advantages_card
              .service__advantages_card_icon 
                img(src='img/service/diagnostic.png' alt='Иконка').service__icn
              .service__advantages_card_text Бесплатная диагностика даже при отказе от ремонта
        img(src='img/service/back.png' alt='Обложка').service__image
      .service__done   
        p.service__numbers 12 585
        img(src='img/service/smilee.png' alt='Смайлик').service__smile
        p.service__finished Выполненных ремонтов