mixin menu(cl)
  menu(class=`${cl}__menu`).menu
    .menu__content
      .menu__block 
        img(src='img/svg/catalog.svg' alt='Каталог').menu__image
        p.menu__text Каталог
      .menu__block 
        img(src='img/svg/apple.svg' alt='иконка').menu__image
        p.menu__text Ремонт Apple
        img(src='img/svg/arrow.svg' alt='Открыть').menu__arrow
      .menu__block 
        img(src='img/svg/ph.svg' alt='иконка').menu__image
        p.menu__text Ремонт смартфонов
        img(src='img/svg/arrow.svg' alt='Открыть').menu__arrow
      .menu__block 
        img(src='img/svg/tablet.svg' alt='иконка').menu__image
        p.menu__text Ремонт планшетов
        img(src='img/svg/arrow.svg' alt='Открыть').menu__arrow
      .menu__block 
        img(src='img/svg/laptop.svg' alt='иконка').menu__image
        p.menu__text Ремонт ноутбуков
        img(src='img/svg/arrow.svg' alt='Открыть').menu__arrow
      