.menu {
    padding: 0;
    &__content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 140px;
        max-width: 1920px;
    }
    &__block{
        display: flex;
        align-items: center;
        border-right: 1px solid #E5E5E5;
        padding: 0 66px 0 72px;
        margin: 0 auto;
        cursor: pointer;
        &:first-of-type{
            padding-right: 56px;
            padding-left: 0;
        }
    }
    &__image{
        margin-right: 10px;
    }
    &__text{
        font-family: 'Montserrat';
        font-weight: 500;
        font-size: px-to-em(16);
        line-height: px-to-per(20,16);
        color: $main-color;
        margin-right: 10px;
        white-space: nowrap;
    }
}
