mixin extra(modifier)
  .extra&attributes(attributes)
      ul.extra__list 
        li.extra__block
        li.extra__block
        li.extra__block
        li.extra__block
        li.extra__block
        li.extra__block
        li.extra__block
        li.extra__block
        li.extra__block
        li.extra__block